%%% Interpreter
%%%
%%% Last update: Wed Apr 7 2:30pm

% Concrete Syntax in the style of C++		Abstract Syntax Records
%======================================================================
% <s> :: = ';'								% skipStmt
%	| '{' <s1> { ';' <s2> } '}'				% seqStmt(S1 S2)
%											--See note below
%	| new <x> <s>							% newvarStmt(X S)
%											--ie. 'local'
%	| <x1> = <x2>							% vareqStmt(X1 X2)
%	| <x> = <v>								% valeqStmt(X V)
%	| if '(' <x> ')' <s1> else <s2>			% ifStmt(X S1 S2)
%	| <x>'(' <y1> { ',' <yn> } ')'			% fappStmt(X Ys)
%											% fprim(X Ys)
%
% NOTE: fappStmt and fprim have the same concrete syntax. The difference is
% that fappStmt is for user-defined functions and fprim is for built-in
% functions. For your project, this mean that if X is an identifier, then
% it's an fappStmt, but if it's one of 'cout' '+' '-' '*' '/' '==' etc.,
% then it's an fprim.
% ALSO, there can be more than two statements in a sequence. { <s1>;<s2>;<s3> }
% would be seqStmt(S1 seqStmt(S2 S3)).
%
%-----------------------------------------------------------------------------
% <v> :: = <int>								% <int>
%	| <bool>									% true | false
%	| 'anon(' <x1>...<xn> ')' '{' <s> '}'		% fdef(Xs S)
%
functor
import
	Application
	System
	Executionutils
	Utils
	
%declare
%[U] = {Module.link ['executionutils.ozf']}

% The module that contains the utils below.
% Needs to be located in the same directory as your
% other Oz files, and in the directory from which
% Oz is run. Alternatively, include a full path in
% the file name.

define

U=Executionutils
Show=System.showInfo


												% -----Stack Operations----------
MakeEmptyStack = Utils.makeEmptyStack				% proc {MakeEmptyStack ?OutStack}
StackIsEmpty = Utils.stackIsEmpty					% proc {StackIsEmpty InStack ?Bool}
PopSemStack = Utils.popSemStack						% proc {PopSemStack InStack ?Stmt#E|OutStack}
PushSemStack = Utils.pushSemStack					% proc {PushSemStack Stmt#E InStack ?OutStack}


												% -----Store Operations----------
NewLocnInStore = Utils.newLocnInStore				% proc {NewLocnInStore ?Locn}
LookupInStore = Utils.lookupInStore					% proc {LookupInStore Locn ?Value} Obtiene el valor asociado a una variable
BindLocnValInStore = Utils.bindLocnValInStore		% proc {BindLocnValInStore Locn Val} Asigna a una direccion un valor
StoreContents = Utils.storeContents					% proc {StoreContents ?ListOfLocnValPairs} Devuelve una lista de las variables que estan en la memoria


												% -----Environment Operations----------
NewEnv = Utils.newEnv								% proc {NewEnv ?Env}
LookupInEnv = Utils.lookupInEnv						% proc {LookupInEnv Identifier Env ?StoreLocn} Dado un identificador retorna la variable asociada
RestrictE = Utils.restrictE							% proc {RestrictE Idents Env ?NewEnv}	Recibe un conjunto de identificadores y retorna un environment con algunos valores
AddMappingE = Utils.addMappingE						% proc {AddMappingE IdentLocnPairs Env ?NewEnv} Crea un nuevo environment a partir de otro
EnvContents = Utils.envContents						% proc {EnvContents Env ?ListofIdentLocnPairs} Retorna una lista de las asociaciones clave valor que tiene el environment

% Three procedures to be written:
ExecuteProgram
ExecuteStatement
CreateVal

proc {ExecuteProgram Program}	% Calls ExecuteStatement with an initial semantic stack
%%% FILL IN %%%%%%%%%%%%%%%%%%%%%

	local
		E = {NewEnv}
	
		L1 = {NewLocnInStore}
		{BindLocnValInStore L1 Show}

		L2 = {NewLocnInStore}
		{BindLocnValInStore L2 Number.'+'}

		L3 = {NewLocnInStore}
		{BindLocnValInStore L3 Number.'-'}

		L4 = {NewLocnInStore}
		{BindLocnValInStore L4 Number.'*'}
		
		L5 = {NewLocnInStore}
		{BindLocnValInStore L5 Value.'=='}
		
		L6 = {NewLocnInStore}
		{BindLocnValInStore L6 Int.'div'}
		
		Env = {AddMappingE [cout#L1 '+'#L2 '-'#L3 '*'#L4 '=='#L5 '/'#L6] E}
		
		S = {MakeEmptyStack}
		SF = {PushSemStack Program#Env S}
	in
		{Show "------------------------------------------------------"}
		{Show "Ejecutando"}
		{ExecuteStatement SF}
		{Show "Finalizado"}
	end
	
	%local stack, myenv, MySemStat in
	%stack = {MakeEmptyStack}
	%myenv = {NewEnv}
	%MySemStat = Program#myenv
	%{ExecuteStatement {PushSemStack MySemStat stack}}
	%end
	%local  store myenv newE in
     %   store ={NewLocnInStore}
     %   {BindLocnValInStore L fprim}
     %   myenv={NewEnv}
     %   newE={NewEnv}
     %   newE={AddMappingE [cout#stack] myenv}
   %end
end

proc {ExecuteStatement Stack}	% Executes each kernel statement
 
	
	if {Not {StackIsEmpty Stack}} then
		
		local
			L
			NewLocn
			NewEnv
			NewStack
			AuxStack
			Stmt#E|OutStack = {PopSemStack Stack}
			case Stmt
			of skipStmt then
				{Show " > skipStmt"}
				NewStack = OutStack
			[] fprim(X Ys) then
				Args = {Map Ys fun {$ Y} {LookupInStore {LookupInEnv Y E}} end} in
				{Show " > fprim"}
				{Procedure.apply {LookupInStore {LookupInEnv X E}} Args}
				NewStack = OutStack
			[] seqStmt(S1 S2) then 
				NewOutStack = {PushSemStack S1#E OutStack}
				NewOutStack2 = {PushSemStack S2#E NewOutStack}
				newStack = NewOutStack2
			[] newvarStmt(X S) then
				NewLocn = {NewLocnInStore}
				{BindLocnValInStore NewLocn nil}
				NewEnv = {AddMappingE [X#NewLocn] E}        
				OutStack = {PushSemStack S#NewEnv NewStack}
				NewStack = OutStack
			[] vareqStmt(X1 X2) then
				NewLocn = {LookupInStore X2 E}
				{BindLocnValInStore X1 NewLocn}
			[] valeqStmt(X V) then
				NewLocn = {NewLocnInStore}
				{BindLocnValInStore NewLocn V}
				NewEnv = {AddMappingE [X#NewLocn] E}        
				OutStack = {PushSemStack S#NewEnv NewStack}
				NewStack = OutStack
			[] ifStmt(X S1 S2) then
			   if X then
				  {PushSemStack S1#E OutStack NewOutStack}
			   else
				  {PushSemStack S2#E OutStack NewOutStack}
			   end
			   NewStack = NewOutStack
			[] fappStmt(X Ys) then
			end
			% Recursive call to ExecuteStatement with new Stack (if non-empty)
		in
			{ExecuteStatement NewStack} 
		end
	end
end




%%%%

%% Abstract Syntax of Example programs.
%% ---YOU WILL NEED TO WRITE SOME ADDITIONAL ONES TO COMPLETELY TEST YOUR CODE
Program1 = newvarStmt('x' seqStmt(valeqStmt('x' false) seqStmt(ifStmt('x' skipStmt skipStmt) skipStmt)))
Program2 = newvarStmt('x' seqStmt(valeqStmt('x' 26) fprim(cout ['x'])))
%The following programs are from HW 4 Q# 5
P = newvarStmt('x' newvarStmt('y' seqStmt(valeqStmt('x' 3) vareqStmt('y' 'x'))))


P1 = newvarStmt('x'
			seqStmt(seqStmt(valeqStmt('x' 1)
					newvarStmt('x'
					seqStmt(valeqStmt('x' 2)
						fprim('cout' ['x']))))
				fprim('cout' ['x'])))
P2 = newvarStmt('Res'
			seqStmt(
				newvarStmt('Arg1'
					newvarStmt('Arg2'
						seqStmt(
							seqStmt(
								valeqStmt('Arg1' 7)
								valeqStmt('Arg2' 6))
							fprim('*' ['Arg1' 'Arg2' 'Res']))))
						fprim('cout' ['Res'])))
P3 = newvarStmt('X'
			newvarStmt('xtimesy'
			newvarStmt('tmp1'
					newvarStmt('tmp2'
							seqStmt(seqStmt(valeqStmt('X' 2)
									valeqStmt('xtimesy'
									fdef(['Y' 'Res']
											seqStmt(fprim('cout' ['Y']) fprim('*' ['X' 'Y' 'Res'])))))
								seqStmt(seqStmt(valeqStmt('tmp1' 3)
										fappStmt('xtimesy' ['tmp1' 'tmp2']))
									fprim('cout' ['tmp2'])))))))

								

{ExecuteProgram Program1} % Call to execute a program
{ExecuteProgram Program2}
{ExecuteProgram P}
{ExecuteProgram P1}
{ExecuteProgram P2}
{ExecuteProgram P3}

{Application.exit 0}
end
